.container {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 40px;
    border: 2px solid;
    border-top: 0;
    background-color: blue;
}
.title {
    overflow-x: hidden;
    display: flex;
    padding-inline: 10px;
    align-items: center;
    font-size: 20px;
}
