.container {
    display: flex;
    flex-direction: row;
    &:hover {
        background-color: grey;
        border-radius: 5px;
    }
}
.title {
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    align-items: center;
    padding-inline: 10px;
    font-size: 14px;
    min-width: 200px;
}
.child-container {
    position: relative;
}
.children {
    background-color: black;
    border-radius: 5px;
    position: absolute;
    padding: 2px;
}
